<h1>Node Name: <%= @node.name %></h1>
<h1>Node Platform: <%= @node['platform'] %></h1>
<h1>Node IP address: <%= @node['ipaddress'] %></h1>
<h1><%= @node['macaddress'] %></h1>
<h1>Node Hostname: <%= @node['hostname'] %></h1>
<h1>Node Domain: <%= @node['domain'] %></h1>
<h1>Node Recipes: <%= @node['recipes'] %></h1>
<h1>Node Roles: <%= @node['roles'] %></h1>
